{% extends "base.html" %}
{% load url from future %}
{% block content %}
<div id="intro">
    <h2 class="intro"><span>Hackerspace.Gent</span><br/>Volunteering</h2>

    <p class="intro">This is a site that brings all the volunteers together.
    Find all the cool tasks that you are interested in.</p>

    <p id="xtra-info">For bugs you can report an issue at
    <a href="https://github.com/0x20/volunteers/issues">Github</a>.</p>
</div><!-- /intro-->

<ul class="features">
    <li><h3>Newline</h3>
        <p><a href="https://hackerspace.gent/newline">Newline</a> is the yearly conference of <a href="https://hackerspace.gent">Hackerspace.Gent</a>.</p>
    </li>

    <li><h3>Location</h3>
        <p>Newline will take place at the<a href="https://hackerspace.gent/landing/#location">
        Hackerspace in Ghent, Belgium, Europe, Earth</a>.</p>
    </li>

    <li><h3>Volunteering</h3>
        <p>Newline needs you! Every year, Newline is run by an enthusiastic team of volunteers
        to help out with various tasks and make the event a fun and safe place for all our visitors.</p>
    </li>
</ul>

<ul class="features">
    <li><h3>Mailing List</h3>
			<p>You can subscribe to receive updates from the <a href="http://discuss.hackerspaces.be/listinfo.cgi/ghent-hackerspaces.be">mailing list</a></p>
			<p>You can post a message to all the members, send email to <a href="mailto:ghent@discuss.hackerspaces.be">ghent@discuss.hackerspaces.be</a></p>
    </li>

    <li><h3>IRC</h3>
        <p>IRC is available in <a href="irc://irc.freenode.net/0x20">#0x20</a> (<a href="https://webchat.freenode.net/?channels=0x20">webchat</a>) on <a href="http://freenode.net/">freenode</a></p>
    </li>

    <li><h3>Contact</h3>
	<p><strong>Space telephone</strong></p>
        <p><a href="tel:+3293953323">+32 9 395 33 23</a></p>
	<p><strong>Twitter</strong></p>
        <p><a href="https://twitter.com/hsghent">@hsghent</a></p>
	<p><strong>Facebook Messenger</strong></p>
        <p><a href="https://www.facebook.com/messages/t/user:127235177447936">Facebook.com/Hackerspace.Gent</a></p> 
    </li>
</ul>
{% endblock %}
